# MAd Men
<img src="title-card.png">

## Project: The Advertising Firm

We are an ad agency working on personalizing ads, so that you aren't bothered by ads you don’t care about, and only see stuff you may be interested in. 

We are promoting a product that people with income <50k are not interested in. 
**We want to market to people with income greater then $50,000**

We start with census data (94-95) on demographics, age, education, country, occupation, income, etc.
The data was split into train/test in approximately 2/3, 1/3 split.

In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
import data_prep
ROOT_DIR = os.path.dirname('data/')

train_file_path = os.path.abspath(os.path.join(ROOT_DIR, 'census-income.csv'))
data1=data_prep.load_file(train_file_path)
train_df=data_prep.clean_data(data1)

test_file_path = os.path.abspath(os.path.join(ROOT_DIR, 'census-income-test.csv'))
data2=data_prep.load_file(test_file_path)
test_df=data_prep.clean_data(data2)

In [3]:
train_df.head(3)

,target,detailed_hsld_smry_1,region_prev_res_1,marital_status_1,marital_status_2,worker_class_1,worker_class_2,worker_class_3,age,wage,...,education_2,migration_1,detailed_occ_cd_A,detailed_occ_cd_B,detailed_occ_cd_C,detailed_occ_cd_D,detailed_ind_cd_A,detailed_ind_cd_B,detailed_ind_cd_C,detailed_ind_cd_D
0,0,0,0,0,0,0,0,0,58,0,...,0,0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,0,0,0,0,0,0,0,0,18,0,...,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,0,0,0,0,0,0,0,0,9,0,...,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [4]:
test_df.head(3)

,target,detailed_hsld_smry_1,region_prev_res_1,marital_status_1,marital_status_2,worker_class_1,worker_class_2,worker_class_3,age,wage,...,education_2,migration_1,detailed_occ_cd_A,detailed_occ_cd_B,detailed_occ_cd_C,detailed_occ_cd_D,detailed_ind_cd_A,detailed_ind_cd_B,detailed_ind_cd_C,detailed_ind_cd_D
0,0,0,0,0,0,0,0,0,44,0,...,0,1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0,0,0,0,0,0,0,0,2,0,...,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,0,0,0,0,0,0,0,0,35,0,...,0,1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [5]:
train_df.shape()

TypeError: 'tuple' object is not callable

In [7]:
data1.shape

(196293, 69)

In [8]:
data=pd.read_csv(train_file_path)
data.columns = ['age', 'worker_class', 'detailed_ind_cd', 'detailed_occ_cd',
                'education', 'wage', 'enrolled_last_wk', 'marital_status', 
                'major_ind_cd', 'major_occ_cd', 'race', 'hispanic_origin',
                'sex', 'member_labour_union', 'unemployment_reason', 'employment_status', 
                'capital_gains',  'capital_losses',  'dividends', 'tax_filer',
                'region_prev_res', 'state_prev_res', 'detailed_hsld_stat', 'detailed_hsld_smry', 'weight',
                'migration_cd_msa', 'migration_cd_reg', 'migration_cd_within_reg', 'same_house_prev_yr', 
                'migration_prev_reg_sunbelt', 'no_persons_worked_for_employer', 'family_members_under18', 
                'birth_country_father', 'birth_country_mother','birth_country', 'citizenship',
                'occupation', 'fill_inc_question_veteran_admin', 'veteran_benefit',  
                'weeks_worked_in_yr',  'year', 'target']

In [9]:
data.shape

(199522, 42)

In [10]:
199522-196293

3229

In [18]:
cnt=0
for col in data.columns:
    y =len(pd.unique(data[col]))
    if  y>=5 and y<=10:
        print col
        cnt+=1
print cnt

worker_class
marital_status
race
hispanic_origin
unemployment_reason
employment_status
tax_filer
region_prev_res
detailed_hsld_smry
migration_cd_msa
migration_cd_reg
migration_cd_within_reg
no_persons_worked_for_employer
family_members_under18
citizenship
15

In [19]:
train_df.shape

(196293, 41)

In [20]:
train_df.columns

Index([u'target', u'detailed_hsld_smry_1', u'region_prev_res_1',
       u'marital_status_1', u'marital_status_2', u'worker_class_1',
       u'worker_class_2', u'worker_class_3', u'age', u'wage', u'dividends',
       u'no_persons_worked_for_employer', u'weeks_worked_in_yr',
       u'fill_inc_question_veteran_admin_1', u'sex_1', u'enrolled_last_wk_1',
       u'citizenship_1', u'employment_status_1', u'occupation_1',
       u'hispanic_origin_1', u'tax_filer_1', u'tax_filer_2', u'year_1',
       u'veteran_benefit_1', u'member_labour_union_1', u'race_1',
       u'unemployment_reason_1', u'family_members_under18_1',
       u'same_house_prev_yr_1', u'capital_gains_1', u'education_1',
       u'education_2', u'migration_1', u'detailed_occ_cd_A',
       u'detailed_occ_cd_B', u'detailed_occ_cd_C', u'detailed_occ_cd_D',
       u'detailed_ind_cd_A', u'detailed_ind_cd_B', u'detailed_ind_cd_C',
       u'detailed_ind_cd_D'],
      dtype='object')